@media (max-width: 992px) {
.navbar-brand {
font-size: 2.0em !important;

}
.dropdown-menu {
position: static !important;
width: auto !important;



}
.dropdown-menu a {
font-size: 3em !important;
padding: 5px 10px !important;
}
.navbar-expand-lg {
max-width: 1200px !important;
}
.navbar-toggler {
  font-size: 34px !important;


}
}


 .main-content {
      margin-left: 250px;
      padding: 20px;
    }
    /* Media queries */
    @media (max-width: 991.98px) {
      .sidebar-nav {
        width: 100%;
        height: auto;
        position: static;
        background-color: #ffffff;
      }
      .main-content {
        margin-left: 0;
        padding: 20px;
      }
    }


/* Estilos por defecto para pantallas grandes */
.sidebar-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  padding-top: 60px;
  background-color: #057CBB;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .sidebar-nav {
    width: 80px;
  }
}
@media (max-width: 992px) {
.sidebar-nav {
width: 220px;
margin-top: 65px;
}
.sidebar-nav a {
font-size: 2.8em;
}
}

.container-central {
  margin-top: 70px;
  margin-left: 250px; /* Se ajusta al ancho del sidebar */
  padding: 20px; /* Ajusta el espacio de relleno interno */
  width: calc(100% - 250px); /* Calcula el ancho restante */
  box-sizing: border-box; /* Evita que los bordes afecten al ancho */
}
/* Estilos para pantallas pequeñas */
@media (max-width: 767.98px) {
  .container-central {
    margin-left: 0; /* Quita el margen izquierdo */
    width: 100%; /* Ajusta el ancho al 100% */
    padding: 10px; /* Ajusta el espacio de relleno interno para pantallas pequeñas */
    margin-top: 65px; /* Quita el margen superior para pantallas pequeñas */
  }
}
@media (max-width: 992px) {
  .container-central {
    margin-left: 0; /* Quita el margen izquierdo */
    width: 100%; /* Ajusta el ancho al 100% */
    padding: 50px; /* Ajusta el espacio de relleno interno para pantallas pequeñas */
    margin-top: 65px; /* Quita el margen superior para pantallas pequeñas */
  }
}




.nav-link.active {
  color: black;
  font-size: 20px;
}

.nav-link.active:hover {
  color: white;
}

.nav-link.link {
  color: black;

}

.nav-link.link:hover {
  color: white;

}


/* Estilos para pantallas pequeñas */
@media (max-width: 767.98px) {
  .content-h2.text-dark.fs-4 {

    font-size: 17px; /* Reduce el tamaño de la fuente */
    line-height: 1.1; /* Ajusta el espacio entre líneas */
    margin-bottom: 10px; /* Añade un margen inferior para separar los títulos */
    margin-left: 100px;
  }
}

  .content-h2.text-dark.fs-4 {

   font-size: 24px;
  }


/* Estilos para pantallas pequeñas */
@media (max-width: 992px) {
  .content-h2.text-dark.fs-4 {

    font-size: 50px; /* Reduce el tamaño de la fuente */
    line-height: 1.6; /* Ajusta el espacio entre líneas */
    margin-bottom: 10px; /* Añade un margen inferior para separar los títulos */
    margin-left: 230px;
    text-align: left;
  }
}



.dropdown-menu {
  width: 50px; /* Define la anchura deseada */
}

.dropdown-item {
  width: 30px;
}

.btn-sm {
	font-size: 12px;
}

.container-central-2{
	margin-top: 60px;
}
@media (max-width: 992px) {
  .container-central-2 {
    margin-top: 150px;
    font-size: 20px; /* Cambiar el valor a tu preferencia */
  }
}




.texto-tema {
	color: red;
}
.texto-tema-h3 {
	color: blue;
}
code {
	background-color: black;
	color: white !important;
	display: block;
	overflow-x: auto;
}



#imagen-wiki {
	width: 120px;
	height: auto; /* Ajustar el tamaño vertical de la imagen automáticamente para mantener la proporción */
	margin-left: 30px;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 600px) {
  #imagen-wiki {
    width: 60px; /* Cambiar el tamaño horizontal de la imagen */
    margin-left: 10px;
  }
}

@media (max-width: 992px) {
  .dropdown-toggle {
    font-size: 2.2rem !important;
    padding: 0.5rem 1rem !important;
  }
}

@media (max-width: 992px) {
  .container p {
    font-size: 1.8em; /* ajusta el tamaño del texto */
     
  }
  
  .container {
    padding: 20px; /* ajusta el padding del div */
   
    width: 100% !important;
    max-width: none !important;
  }
  

}

@media (max-width: 992px) {
  .texto-tema {
    font-size: 3.5em;
  }
}
@media (max-width: 992px) {
  .texto-tema-h3 {
    font-size: 2.2em;
  }
}

@media (max-width: 992px) {
	#h1-texto-enunciado{
	 font-size: 2.5em;
}
}


@media (max-width: 992px) {
.pre-dibujo-1 {
    font-size: 1.4em !important;
  }
}

@media (max-width: 992px) {
.pre-dibujo-2 {
    font-size: 1.8em !important;
  }
}

@media (max-width: 992px) {
 pre {
    font-size: 1.5em !important;
     overflow: auto !important;
  }
}

/* Selector de mayor especificidad */


/* Atributo !important */
hr {
  height: 2px !important;
  border-width: 0 !important;
  border-top-width: 1px !important;
  background-color: black !important;
}

@media (max-width: 991px) {
  .sidebar-link {
    font-size: 1.9em; /* Tamaño de fuente aumentado para pantallas más pequeñas */
  }
}

.sidebar-link {
  position: relative;
  left: 15px; /* Puedes ajustar este valor para mover el elemento a la derecha o izquierda */
  font-size: 20px;
  color: black !important;
}
.sidebar-link:hover {
 color: white !important;
}

@media only screen and (max-width: 992px) {
  .nav-link.active {
    font-size: 40px;
    margin-left: 15px;
  }
}